#paragraph1 {
  font-family: fantasy;
  font-size: 100px;
  background-color: yellow;
  color: red;

}

#paragraph2 {
  font-family: fantasy;
  font-size: 50px;
  background-color: orange;
  color: red;

}

#paragraph3 {
  font-family: fantasy;
  font-size: 50px;
  background-color: orange;
  color: red;
